In [3]:
import pandas as pd
import numpy as np
import os

In [5]:
os.listdir()

['.ipynb_checkpoints',
 'FTP',
 'ftp-api-folderlevel.ipynb',
 'output CSVs',
 'pdf_experiment_test.pdf',
 'pdf_splitting.ipynb',
 'test-output',
 'unit-60349.csv',
 'Untitled.ipynb']

In [6]:
os.chdir('FTP')

In [7]:
os.listdir()

['.ipynb_checkpoints',
 'FTP exports',
 'FTP_transfer_from_metadata.ipynb',
 'Old_FTP exports',
 'test_remove_columns.csv',
 'test_remove_newlines_carriage.csv',
 'test_remove_newlines_carriage.xlsx',
 'test_remove_newlines_carriage_postOO.csv',
 'Untitled.ipynb']

In [8]:
os.chdir('FTP exports')

In [10]:
to_edit = os.listdir()

In [19]:
test = pd.read_csv(to_edit[0], index_col = 0)
test = test.drop('Title', axis = 1)
test['Document Body'] = test['Document Body'].str.replace('\n','')
test['ID'] = test['ID'].str.strip('PJB').str.strip(' ')

In [20]:
test

      ID                                      Document Body
0   2357  <p>200 Trenton Pl S.E. 101<br/>Wash. D.C. 2003...
1   2358  <p>Mrs. Frank R. Shlossberg<br/>31 Lakeside St...
2   2362  <p>Toledo, Ohio<br/>May 10 1969</p><p>To Repre...
3   2363  <p>Gloria Cruz<br/>A128 Garcia Hall<br/>Univer...
4   2369  <p>May 21, 1969</p><p>Dear Mr. Douglas,</p><p>...
..   ...                                                ...
61  2455  <p>                                           ...
62  2458  <p>6-22-69</p><p>Dear Mr. Bond,</p><p>Its a gr...
63  2461  <p>for more information, call<br/>Mrs. Jane Mo...
64  2473  <p>September 16, 1969</p><p>Dear Mr. Robinson,...
65  2475  <p>September 16, 1969</p><p>Dear Rabbi Goldbur...

[66 rows x 2 columns]

In [21]:
os.mkdir('FTP exports August fix')

In [25]:
for i in to_edit:
    print(i)
    file = i
    df = pd.read_csv(file, index_col = 0)
    df = df.drop('Title', axis = 1)
    df['Document Body'] = df['Document Body'].str.replace('\n','')
    df['ID'] = df['ID'].str.strip('PJB').str.strip(' ')

    df.to_csv(f'FTP exports August fix/{i}', index = False)

b14f2_export_07092025.csv
b14f3_export_07092025.csv
b14f4_export_07092025.csv
b14f5_export_07092025.csv
b14f6_export_07092025.csv
b14f7_export_07092025.csv
b14f8_export_07092025.csv
b14f9_export_07092025.csv
b15f1_export_07092025.csv
b15f2_export_07092025.csv
b15f3_export_07092025.csv
b15f4_export_07092025.csv
b15f5_export_07092025.csv
b15f6_export_07092025.csv
b15f7_export_07092025.csv
b16f1_export_07092025.csv
b16f2_export_07092025.csv
b16f3_export_07092025.csv
b16f4_export_07092025.csv
b16f5_export_07092025.csv
b16f6_export_07092025.csv
b16f7_export_07092025.csv
b17f1_export_07092025.csv
b17f2_export_07092025.csv
unlabeled_docs_export.csv